*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Roboto', sans-serif;}
li{list-style: none;}
.font-size-small{font-size: 11px;}
.bg-fill{background-color: #5A5096; height: 80vh; clip-path: polygon(0 0, 100% 0, 100% 33vh, 0 100%);}
.form-container{height: 80vh; max-width: 700px; width: 100%; display: flex; border-radius: 5px; background-color: #fff; -webkit-box-shadow: 0px 2px 39px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 39px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 39px -9px rgba(0,0,0,0.75);
 position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 99999;}
.welcome{background-image: url('../images/splash-bg.jpg'); height: 100%; width: 50%; background-size: cover; position: relative; display: flex; border-bottom-left-radius: 5px; border-top-left-radius: 5px; color: #fff;}
.welcome-msg{width: 250px; margin: 150px 0 0 50px;position: relative;z-index: 1;}
.welcome-msg h1{margin-bottom: 15px;}
.welcome:after{content: ''; position: absolute; width: 100%; height: 100%; left: 0; top: 0; background-color: rgba(132, 37, 175, 0.7);border-bottom-left-radius: 5px; border-top-left-radius: 5px;}
.signup-form{display: flex;flex-wrap: wrap; padding: 40px; width: 50%;}
form{width: 90%;}
h2{margin-bottom: 20px;}
.signup-form li{margin-bottom: 20px;}
.signup-form label, .signup-form input{display: flex; flex-direction: row; align-items: center; margin-bottom: 5px; font-size: 14px;font-weight: 500;}
.signup-form input{border: 1px solid #a1a1a1; padding: 5px; width: 100%; margin-bottom: 2px;}
.signup-form .options{display: flex;align-items: center; margin: 5px 0 20px; }
.signup-form .options label, .signup-form .options input[type="radio"]{display: flex; flex-direction: column; width: auto;padding: 0; margin: 0; font-size: 12px; margin-top: 5px; cursor: pointer;}
.signup-form .options input[type="radio"]{display: none;}
.signup-form .options label{margin-right: 30px; padding-left: 25px; position: relative; }
.signup-form .options label:before{content:''; position: absolute; left: 0; top: -3px; border: 2px solid #AAAAAA;border-radius: 100%;height: 16px;width: 16px; transition: border .25s linear; -webkit-transition: border .25s linear;}
button{width: 150px; border-radius: 5px; background-color: #2D9CDB; color: #fff; border: 0; padding: 10px; font-size: 14px; cursor: pointer;}
input[type="radio"]:checked + label:before {display: block;border: 2px solid #2D9CDB;border-radius: 100%;height: 16px;width: 16px;transition: border .25s linear;-webkit-transition: border .25s linear; background-color: #2D9CDB;}
input[type="radio"]:checked + label:after{ content: ''; position: absolute; width: 12px; height: 12px; border-radius: 100%; border: 2px solid #fff; top: -1px; left: 2px;}
.error input[type="text"],.error input[type="email"], .error input[type="password"]{border: 2px solid #EB5757;}
span.error-msg{display: none;}
.error span.error-msg{background-color: #EB5757; color: #fff; font-size: 12px; padding: 2px 4px; border-radius: 2px; display: block;}
.d-block{display: block !important;}
.mB5{margin-bottom: 5px !important;}
input:focus{outline: none;}
@media(min-width: 1600px){
    .form-container{max-width: 1000px; height: 60vh;}
}
@media(max-width:991px){
    .form-container{height: 70vh;}
    .signup-form{padding: 30px;}
}
@media(max-width:769px){
    .form-container{max-width: 580px;}
    .bg-fill{height: 100vh;}
}
@media(max-width: 600px){
    .bg-fill{display: none;}
    .form-container{height: 100vh;flex-direction: column; transform: translate(0,0); position: static;}
    .welcome, .signup-form{ width: 100%;}
    .welcome{background-position: center center; border-radius: 0; height: 160px;}
    .welcome-msg{width: 100%; padding: 50px 80px; margin: 0;}
    .signup-form{padding: 50px 80px;}
}
@media(max-width: 600px){
    .welcome-msg, .signup-form{padding: 20px 30px;} 
}